.navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navigation .action > button {
    box-sizing: border-box;
    border: 1px solid violet;
    width: 100%;
    margin: 10px 0;
    padding: 16px 8px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.navigation .action > button:hover {
    background-color: violet;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .navigation {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .navigation .action {
        flex: 1;
        box-sizing: border-box;
    }
    .navigation .action:nth-child(2) {
        margin: 0 8px;
    }
}
@media screen and (max-width: 400px) and (orientation: portrait) {
    .navigation .action > button {
        height: 60px;
    }
}
