.board {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.board .menu {
    flex: 1;
    min-width: 200px;
    height: 100%;
    box-sizing: border-box;
    order: 1;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #28292b;
}

.board .counter {
    padding: 16px;
    font-size: 48px;
    font-weight: bold;
    background-color: #2172e3;
    width: 100%;
    box-sizing: border-box;
}

.board .rosco {
    flex: 3;
    min-width: 320px;
    height: 100%;
    box-sizing: border-box;
    order: 2;
    padding: 16px;
}

@media screen and (max-width: 600px) {
    .board .counter {
        font-size: 28px;
        padding: 8px;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .board .menu {
        order: 2;
        height: 30vh;
    }
    .board .rosco {
        order: 1;
        height: 70vh;
    }
}

@media screen and (max-width: 321px) and (orientation: portrait) {
    .board .menu {
        order: 2;
        height: 40vh;
    }
    .board .rosco {
        order: 1;
        height: 60vh;
    }
}