.bullet {
    background-color: #2172e3;
    color: white;
    text-shadow: 0px 0px 6px black;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
}
.bullet > span {
    transform: rotate(90deg);
}
.ok {
    background-color: #21f015;
}
.error {
    background-color: #DE0101;
}
.pending {
    background-color: #f4f511;
}
.current {
    animation: blinkingText 1.3s infinite;
}
@keyframes blinkingText {
    0% { opacity: 1 }
    50% { opacity: 0.1; }
    100% { opacity: 1; }
}

@media screen and (max-width: 600px) {
    .bullet {
        border: 2px solid rgba(0, 0, 0, 0.2);
        width: 40px;
        height: 40px;
        margin-left: -24px;
        margin-top: -24px;
        font-size: 18px;
    }
}

@media screen and (max-width: 374px) {
    .bullet {
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 30px;
        height: 30px;
        margin-left: -17px;
        margin-top: -17px;
        font-size: 14px;
    }
}
